---
import MainLayout from '../../layouts/MainLayout.astro'
import NotificationBox from '../../components/NotificationBox.astro'
---

<MainLayout pageHeading='Application' showHeading>
  <main class='container'>
    <div class='mx-auto main-layout'>
      <div class='flex flex-col items-center gap-12 px-2'>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio
          distinctio facere at non voluptatibus laudantium, doloremque
          laboriosam odit possimus magnam soluta accusantium nesciunt? Incidunt
          quo natus architecto nostrum exercitationem cumque aliquid illum!
        </p>
        <NotificationBox
          heading='Thank you!'
          message='Your application has been received. We will respond to you as soon as we’re able.'
        />
      </div>
    </div>
  </main>
</MainLayout>
