---
import MainLayout from '../../layouts/MainLayout.astro'
import ContactForm from '../../components/ContactForm.astro'

const desc =
  'Get in touch with North Shore Cleaning Services, Inc. for all your cleaning needs in Duluth, Minnesota and Superior, Wisconsin. Fill out our contact form, and a member of our staff will respond promptly to address your questions or concerns.'
---

<MainLayout
  pageHeading='Contact'
  showHeading
  title='Contact Us'
  description={desc}>
  <main class='container'>
    <div class='mx-auto main-layout'>
      <div class='flex flex-col items-center gap-10 px-2'>
        <p>
          Questions or concerns? Let us know! Fill out the form below and a
          member of our staff will get back to you as soon as possible.
        </p>
        <ContactForm />
        <div></div>
      </div>
    </div>
  </main>
</MainLayout>
