---
import MainLayout from '../../layouts/MainLayout.astro'
import NotificationBox from '../../components/NotificationBox.astro'
---

<MainLayout pageHeading='Contact' showHeading>
  <main class='container'>
    <div class='mx-auto main-layout'>
      <div class='flex flex-col items-center gap-10 px-2 mb-20 sm:mb-0'>
        <NotificationBox
          heading='Thank you!'
          message='Your message was sent successfully. We will respond to you as soon as we’re able.'
        />
      </div>
    </div>
  </main>
</MainLayout>
