---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout pageHeading='About' showHeading>
  <main class='container about'>
    <div class='main-layout mx-auto'>
      <div class='px-2'>
        <p>
          April Schultz is the owner and President of North Shore Cleaning
          Services, Inc. She got her start in the cleaning industry when she was
          17 years old, working as a housekeeper for the historic Lutsen Lodge
          located on the North Shore. In her adult years, April worked in the
          medical field as a Nurse but felt that she could offer a reliable and
          dependable cleaning service to businesses located in and around the
          Northland. For 10 years, North Shore Cleaning Services, Inc has served
          clinics, commercial and vacation rental companies, realtors, and
          residents with their cleaning needs.
        </p>
      </div>
    </div>
  </main>
</MainLayout>

<style>
  .about p {
    @apply mb-4;
  }
</style>
