---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout pageHeading='About' showHeading>
  <main class='container max-w-5xl mt-14 mb-24 about'>
    <div class='container px-2 md:px-4'>
      <div class='px-2'>
        <p>
          Four score and seven years ago, April started this cleaning business
          and years later continues to run it with a little help from her loving
          family. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Corrupti quae harum eos rem qui iste hic veniam magnam earum.
          Perferendis incidunt amet ratione. Temporibus molestiae in tenetur
          aliquam repellendus esse cumque magni cupiditate consequatur earum
          exercitationem dolorem sapiente tempore, corrupti perferendis id!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
          repudiandae, totam aspernatur omnis illo a distinctio excepturi
          eveniet magnam atque dolorum eos. Iste explicabo molestias distinctio
          harum pariatur minima doloribus laborum! Ducimus quae iure ullam
          deserunt quam sequi nobis? Est, ea necessitatibus nihil architecto eos
          totam odit saepe aperiam? Error ipsa illum enim!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          repellendus suscipit, autem doloremque, beatae asperiores ipsum animi
          facere in minus quisquam consequatur accusamus voluptatem eveniet
          tenetur illo sit nostrum odit dicta? Atque?
        </p>
      </div>
    </div>
  </main>
</MainLayout>

<style>
  .about p {
    @apply mb-4;
  }
</style>
