---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout pageHeading='Interested in joining our team?' showHeading>
  <main class='container'>
    <div class='mx-auto main-layout'>
      <div class='flex flex-col items-center gap-12 px-2'>
        <p>
          Are you looking for a career that has flexible hours and allows you to
          work independently? Join the team at North Shore Cleaning Services,
          Inc! All current openings and their descriptions are listed below.
          Please fill out the form and attach your resume (if applicable). A
          member of our team will get back to you as soon as possible. Thank
          you!
        </p>

        <div>
          <h2 class='text-2xl text-teal-main leading-relaxed'>
            Current Openings
          </h2>
          <p>
            <span class='uppercase'>Cleaner</span> - Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Ducimus, aliquam fuga, ullam sed ipsam
            placeat unde veniam reiciendis iste deleniti hic, facilis dolore ea!
            Non, harum mollitia. Delectus, deleniti.
          </p>
        </div>

        <a href='/application' class='btn btn-light mt-12'
          >Apply for a position</a
        >
      </div>
    </div>
  </main>
</MainLayout>
