---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout pageHeading='Interested in joining our team?' showHeading>
  <main class='container'>
    <div class='containter mx-auto px-2 md:px-4 mt-14 mb-24 max-w-5xl'>
      <div class='flex flex-col items-center gap-12 px-2'>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio
          distinctio facere at non voluptatibus laudantium, doloremque
          laboriosam odit possimus magnam soluta accusantium nesciunt? Incidunt
          quo natus architecto nostrum exercitationem cumque aliquid illum!
        </p>

        <div>
          <h2 class='text-2xl text-teal-main leading-relaxed'>
            Current Openings
          </h2>
          <p>
            <span class='uppercase'>Cleaner</span> - Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Ducimus, aliquam fuga, ullam sed ipsam
            placeat unde veniam reiciendis iste deleniti hic, facilis dolore ea!
            Non, harum mollitia. Delectus, deleniti.
          </p>
        </div>

        <a href='/application' class='btn btn-light mt-12'
          >Apply for a position</a
        >
      </div>
    </div>
  </main>
</MainLayout>
