---
import MainLayout from '../layouts/MainLayout.astro'
import { Picture } from 'astro:assets'

// Assets
import Bed from '../assets/hospitality-bed.jpg'
import Lobby from '../assets/commercial-lobby.jpg'

const desc =
  'Explore the comprehensive cleaning services offered by North Shore Cleaning Services, Inc. We specialize in hospitality cleaning for vacation rentals and commercial cleaning for office buildings, classrooms, medical facilities, and more in Duluth, Minnesota and Superior, Wisconsin. Contact us for a quote today.'
---

<MainLayout
  pageHeading='Our Services'
  showHeading
  title='Services'
  dscription={desc}>
  <main class='container'>
    <div
      class='flex flex-col w-[100%] max-w-[1100px] mx-auto pt-3 pb-8 md:pt-10 md:pb-24 container px-2 md:px-4'>
      <div class='service-item'>
        <Picture
          src={Bed}
          alt='A neatly made bed in a bedroom with a widnow overlooking the street outside.'
          widths={[600, 1000]}
          sizes='(max-width: 540px) 100vw, 1000px'
        />
        <div class='desc'>
          <h2>Hospitality Cleaning</h2>
          <p>
            When checking into your vacation rental, we ensure that every guest
            is welcomed into a clean and safe environment. Our hospitality
            cleaning services include, but are not limited to, same day
            turnovers and seasonal deep cleans, with exceptional cleaning after
            each guest, every time. We use a conveniently automated scheduling
            service that is compatible with Airbnb, VRBO, and Evolve.
          </p>
        </div>
      </div>

      <div class='service-item second'>
        <Picture
          src={Lobby}
          alt='Chairs in a waiting room'
          formats={['avif', 'webp', 'jpg']}
          widths={[600, 1000]}
          sizes='(max-width: 600px) 100vw, 1000px'
        />
        <div class='desc order-2 lg:order-1'>
          <h2>Commercial Cleaning</h2>
          <p>
            Our trained staff understand the importance of a clean workspace. We
            offer commercial cleaning in various work environments such as
            office buildings, classrooms, medical facilities, and more.
          </p>
        </div>
      </div>
    </div>
  </main>
  <section
    class='bg-[#F7F1E3] py-10 md:py-12 px-2 flex flex-col justify-center items-center gap-4 md:gap-6'>
    <h3 class='text-teal-main text-[1.1rem] sm:text-[1.3rem] text-center'>
      Interested in working with us?
    </h3>
    <a href='/contact' class='btn btn-outline-dark mt-2 sm:mt-0'>Get a quote</a>
  </section>
</MainLayout>

<style>
  .service-item h2 {
    @apply text-xl lg:text-xl text-teal-main pb-1;
  }

  .service-item {
    @apply flex flex-col lg:flex-row gap-y-4 w-full py-4 lg:py-0 justify-between items-center mb-3 md:mb-0;
  }

  picture {
    @apply w-[95%] lg:w-1/2;
  }

  .second picture {
    @apply order-1 lg:order-2;
  }

  img {
    @apply aspect-[4/3] object-cover;
  }

  .desc {
    @apply w-[95%]  lg:w-1/2 px-1 lg:px-8 xl:px-14 mt-1 lg:mt-0;
  }

  .desc p {
    @apply leading-[1.7] md:leading-normal lg:leading-[1.7];
  }
</style>
