---
import MainLayout from '../layouts/MainLayout.astro'
import { Image } from 'astro:assets'

// Assets
import Bed from '../assets/hospitality-bed.jpg'
import Lobby from '../assets/commercial-lobby.jpg'

const desc =
  'Explore the comprehensive cleaning services offered by North Shore Cleaning Services, Inc. We specialize in hospitality cleaning for vacation rentals and commercial cleaning for office buildings, classrooms, medical facilities, and more in Duluth, Minnesota and Superior, Wisconsin. Contact us for a quote today.'
---

<MainLayout
  pageHeading='Our Services'
  showHeading
  title='Services'
  dscription={desc}>
  <main class='container'>
    <div
      class='flex flex-col w-[100%] max-w-7xl mx-auto pt-0 pb-16 md:pt-10 md:pb-24 container px-2 md:px-4'>
      <div class='service-item'>
        <Image src={Bed} alt='' />
        <div class='desc'>
          <h2>Hospitality Cleaning</h2>
          <p>
            We ensure that every guest is welcomed into a clean and safe
            environment when checking into your vacation rental. What we provide
            for our hospitality cleaning service include but are not limited to:
            Same day turnovers, seasonal deep cleans, and exceptional, quality
            cleaning after each guest, every time. We use a convenient automated
            scheduling service that is compatible with Airbnb, VRBO, and Evolve.
          </p>
        </div>
      </div>

      <div class='service-item'>
        <Image src={Lobby} alt='' class='order-1 lg:order-2' />
        <div class='desc order-2 lg:order-1'>
          <h2>Commercial Cleaning</h2>
          <p>
            Our trained cleaners understand the importance of a clean workspace.
            We offer commercial cleaning in multiple different work environments
            such as; Office buildings, classrooms, medical facilities, and more.
          </p>
        </div>
      </div>
    </div>
  </main>
  <section
    class='bg-[#F7F1E3] py-12 md:py-16 px-2 flex flex-col justify-center items-center gap-4 md:gap-6'>
    <h3
      class='text-teal-main text-[1.1rem] sm:text-[1.5rem] sm:font-[300] text-center'>
      Interested in working with us?
    </h3>
    <a href='/contact' class='btn btn-dark mt-2 sm-mt-0'>Get a quote</a>
  </section>
</MainLayout>

<style>
  .service-item h2 {
    @apply text-xl lg:text-2xl text-teal-main pb-1 lg:pb-2;
  }

  .service-item {
    @apply flex flex-col lg:flex-row gap-y-4 w-full py-4 lg:py-0 justify-between items-center mb-3 md:mb-0;
  }
  img {
    @apply w-[95%] lg:w-1/2 aspect-[4/3] object-cover;
  }

  .desc {
    @apply w-[95%]  lg:w-1/2 px-1 lg:px-8 xl:px-14 mt-1 lg:mt-0;
  }

  .desc p {
    @apply leading-[1.7] md:leading-normal lg:leading-[1.7];
  }
</style>
