---
import { Image } from 'astro:assets'

const { image1, image2, title } = Astro.props
---

<!-- <div class='slide'> -->
<p
  class='bg-teal-md py-4 text-white text-center tracking-widest text-lg service-title'>
  {title}
</p>
<div class='relative'>
  <div class='absolute top-0 left-0 w-full h-full bg-teal-md bg-opacity-20'>
  </div>
  <div class='slider-images relative'>
    <div class='group'>
      <div class='flex'>
        <Image src={image1} alt='' class='image-1' />
        <Image src={image2} alt='' class='image-2' />
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<style>
  img {
    @apply w-1/2 object-cover aspect-[4/2.5];
  }
</style>
