---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import PageHeader from '../components/PageHeader.astro'
import '../styles/global.css'
import MobileNavbar from '../components/mobileNavbar.astro'

const {
  title = 'North Shore Cleaning Services',
  showHeading = false,
  description = 'We are proud to provide professional cleaning services for Duluth, MN, Superior, WI, and the surrounding areas. Our team specializes in hospitality and commercial cleaning, offering deep cleaning, recurring cleaning, and specialty cleaning tailored to your needs. Contact us for affordable, top-rated cleaning solutions near you.',
  pageHeading,
} = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&family=Poppins:wght@200;300;400;500&display=swap'
      rel='stylesheet'
    />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <meta
      name='google-site-verification'
      content='7cxtrA-uz8KTycuigrJUnPRbp_ek6M29BlyofMTpHto'
    />
    <title>
      {
        title === 'North Shore Cleaning Services'
          ? title
          : `${title} | North Shore Cleaning Services`
      }
    </title>
  </head>
  <body>
    <div class='hidden sm:block'>
      <Navbar />
    </div>
    <div class='block sm:hidden'>
      <MobileNavbar />
    </div>
    {showHeading && <PageHeader pageHeading={pageHeading} />}
    <slot />
    <Footer />
  </body>
</html>
